body{background:#E2EAED;}

.navbar{background:#30D9B8; height:68px; margin-bottom:0px;}
.navbar h4{color:white; font-size:30px; font-family:'Itim',cursive; margin-left:30px;}

.photos{}

img{width:1024px;}

.img1{background:url(images/IMG_0179_2.jpg) no-repeat; height:400px; width:50%; max-width:480px; background-size:contain;}
.img2{background:url(images/IMG_0176.JPG) no-repeat; height:535px; width:100%; background-size:contain;}
.img3{background:url(images/IMG_0180.JPG) no-repeat; height:535px; width:100%; background-size:contain;}
.img4{background:url(images/IMG_3959.JPG) no-repeat; height:400px; width:50%; max-width:480px; background-size:contain; float:right;}
.img5{background:url(images/IMG_3960.JPG) no-repeat; height:535px; width:100%; background-size:contain; }
.img7{background:url(images/IMG_3962_2.jpg) no-repeat; height:400px; width:50%; max-width:480px; background-size:contain;}
.img8{background:url(images/IMG_3962_1.jpg) no-repeat; height:400px; width:50%; max-width:480px; background-size:contain; float:right;}

.content
{
text-align:center;
display:none;
}
.content h2{font-size:30px; font-family:'Pacifico',cursive;}
.fa{font-size:160px;}
.content h4{font-size:50px; font-family:'Satisfy',cursive;}

@media only screen and (max-width: 819px)
{
.photos{display:none;}
.content{display:block;}
nav{display:none;}
}
