<!DOCTYPE html>
<html>
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-120127335-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-120127335-1');
</script>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<meta name="description" content="Abhishek Munjal">

<title>Abhishek</title>
<link rel="shortcut icon" type="image/png" href="static/favicon.png"/>
<!--link rel="stylesheet" href="https://unpkg.com/vue-agile/dist/VueAgile.css"-->
<!--link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet"-->
<link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap" rel="stylesheet">
<link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Piazzolla&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="static/css/style.css" />

</head>
<body>


<div id="root">
  <section id="sec1" class="slide-section">
    <div class="slide">
      <div class="side-bar">
        <div data-aos="fade-up" data-aos-duration="1500" class="hero-text">I make web, an easy place for you<span class="cursor">&nbsp;</span></div>
        <div class="social-icons">
          <ul>
            <li v-for="(si, index) in socialIcons" :key="index">
              <a :href="si.url"><i :class="si.social"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="abhishek-div">
        <div class="logo-name">
          <h1  data-aos="zoom-in">Abhishek Munjal</h1>
        </div>
      	<div class="abhishek-image"><img src="images/abhishek.png"/></div>
      </div>
    </div>
  </section>






  <section id="sec2" class="about-section">
  	<div class="about">
  	  <div class="text-block" data-aos="fade-right" data-aos-duration="1000">
      	How do I do it?
      </div>
      <div class="tools">
      	<ul class="circle-container">
	      	<li><i class="fab fa-html5"></i></li>
	      	<li><i class="fab fa-css3-alt"></i></li>
	      	<li><i class="fab fa-aws"></i></li>
	      	<li><i class="fab fa-python"></i></li>
	      	<li><i class="fab fa-vuejs"></i></li>
	      	<li><i class="fab fa-js"></i></li>
	      	<li><i class="fas fa-laptop-code"></i></li>
	      	<li><i class="fas fa-mobile-alt"></i></li>
	      	<li><i class="fas fa-database"></i></li>
	      	<li><i class="fab fa-github"></i></li>
	      	<li><i class="fas fa-headphones"></i></li>
	      	<li><i class="fab fa-linux"></i></li>
	      	<li><i class="fab fa-windows"></i></li>
	      	<li class="text"><img src="images/abhishek_anim.png">Using These Tools</li>
	    </ul>
      </div>
      <div class="about-text">
        <h2 class="border-anim">About Me</h2>
        <div class="about-text-p">
          "<span id="changingGreet">Hello</span>", I am a freelance full stack developer from Delhi, India<br>
          I love to code and try to make things easy for people around me.
          <h3 class="border-anim">What can I do for you?</h3><br>
          <span>I can</span>
          <ul>
            <li>Take your business online</li>
            <li>Be a teacher for you or your kids</li>
            <li>Explain you computer science like "__synonym for easy__"</li>
            <li>Develop web applications for you</li>
            <li>Create web services</li>
          </ul>
          <div class="contact-button">
            <button onclick="scrollToContact()">I am confused 🙈</button>
          </div>
        </div>
      </div>
  	</div>
  </section>






  <section class="resume-json" id="sec3">
    <div class="resume-side-bar">
      <div class="text-block">
        <div>R</div>
        <div>E</div>
        <div>S</div>
        <div>U</div>
        <div>M</div>
        <div>E</div>
      </div>
    </div>
    <div class="collapse resume-background">
    <label class="collapse-right" v-on:click="collapsed">
      <span>{</span>
    </label>
    <div class="collapse">
      <div class="collapse">
        <label class="collapse-label">
          "Name" : 
        </label>
        <div class="collapse-item">
          "Abhishek",
        </div>
      </div>
      <div class="collapse">
        <label class="collapse-right" v-on:click="collapsed">
          "Contact" : <span>{</span>
        </label>
        <div class="collapse">
          <div class="collapse">
              <label class="collapse-label">
                "Phone" : 
              </label>
              <div class="collapse-item">
                <a href="tel:919891333838">"9891333838"</a>,
              </div>
          </div>
          <div class="collapse">
              <label class="collapse-label">
                "Email" :
              </label>
              <div class="collapse-item">
                <a href="mailto:munjalabhishek1996@gmail.com">"munjalabhishek1996@gmail.com"</a>
              </div>
          </div>
        </div>
      },
      </div>
      <div class="collapse">
        <label class="collapse-right" v-on:click="collapsed">
          "Experience" : <span>{</span>
        </label>
        <div class="collapse">
          <div class="collapse">
              <label class="collapse-label">
                "Houseitt" : 
              </label>
              <div class="collapse-item">
                "Backend Developer",
              </div>
          </div>
          <div class="collapse">
              <label class="collapse-label">
                "Whistlemind Technologies" : 
              </label>
              <div class="collapse-item">
                "Web Developer Intern",
              </div>
          </div>
          <div class="collapse">
              <label class="collapse-label">
                "Rezo.ai" : 
              </label>
              <div class="collapse-item">
                "Software Engineer Intern",
              </div>
          </div>
          <div class="collapse">
              <label class="collapse-label">
                "Elucidation Today" : 
              </label>
              <div class="collapse-item">
                "Full Stack Developer"
              </div>
          </div>
        </div>
      },
      </div>
      <div class="collapse">
        <label class="collapse-right" v-on:click="collapsed">
          "Education" : <span>{</span>
        </label>
        <div class="collapse">
          <div class="collapse">
              <label class="collapse-label">
                "M.Sc Computer Science" : 
              </label>
              <div class="collapse-item">
                "South Asian University",
              </div>
          </div>
          <div class="collapse">
              <label class="collapse-label">
                "B.Sc Computer Science" : 
              </label>
              <div class="collapse-item">
                "Kirori Mal College, DU",
              </div>
          </div>
          <div class="collapse">
              <label class="collapse-label">
                "XII Science (Non-Med)" : 
              </label>
              <div class="collapse-item">
                "Kendriya Vidalaya (CBSE)"
              </div>
          </div>
        </div>
      },
      </div>
      <div class="collapse">
        <label class="collapse-right" v-on:click="collapsed">
          "Skills" : <span>{</span>
        </label>
        <div class="collapse">
          <div class="collapse">
              <label class="collapse-right" v-on:click="collapsed">
                "Languages" : <span>[</span>
              </label>
              <div class="collapse-item">
                "C/C++",
                "Java",
                "Python",
                "HTML",
                "CSS",
                "JS",
                "JQuery"
              </div>
              ],
          </div>
          <div class="collapse">
              <label class="collapse-right" v-on:click="collapsed">
                "Frameworks" : <span>[</span>
              </label>
              <div class="collapse-item">
                "Django",
                "Flask",
                "VueJs"
              </div>
              ],
          </div>
          <div class="collapse">
              <label class="collapse-right" v-on:click="collapsed">
                "Databases" : <span>[</span>
              </label>
              <div class="collapse-item">
                "MySQL",
                "PostgreSQL",
                "Sqlite3"
              </div>
              ],
          </div>
          <div class="collapse">
              <label class="collapse-right" v-on:click="collapsed">
                "OS and Technologies" : <span>[</span>
              </label>
              <div class="collapse-item">
                "Windows",
                "Linux",
                "AWS",
                "Git"
              </div>
              ]
          </div>
        </div>
      },
      </div>
      <div class="collapse">
        <label class="collapse-right" v-on:click="collapsed">
          "Roles and Responsibilities" : <span>{</span>
        </label>
        <div class="collapse">
          <div class="collapse">
              <label class="collapse-right" v-on:click="collapsed">
                "The Computer Prodigies" : <span>{</span>
              </label>
              <div class="collapse">
                <div class="collapse">
                  <label class="collapse-label">
                    "Description" :
                  </label>
                  <div class="collapse-item">"The Computer Science society of KMC DU",</div>
                </div>
                <div class="collapse">
                  <label class="collapse-label">"Role" :</label>
                  <div class="collapse-item">
                      "Co-Founder"
                  </div>
                </div>
              </div>
              },
          </div>
          <div class="collapse">
              <label class="collapse-right" v-on:click="collapsed">
                "Technival" : <span>{</span>
              </label>
              <div class="collapse">
                <label class="collapse-label">"Description" :
                </label>
                <div class="collapse-item">"Annual Fest of Computer Science Department of KMC",</div>
              </div>
              <div class="collapse">
                <label class="collapse-label">"Role" :</label>
                <div class="collapse-item">"Organizer as Vice President of Technival β and Technival 1.0"</div>
              </div>
            }
          </div>
      </div>
      }
    </div>
</div>
}
</div>
</section>

<section id="sec4" class="footer-section">
<div class="panel-box">
<div class="tab">
  <button class="tablinks" onclick="switchTabs(event, 'tab1')"><span>Reach out&nbsp;</span><i class="fas fa-code"></i></button>
  <button class="tablinks active" onclick="switchTabs(event, 'tab2')"><span>I don't know coding&nbsp;</span><i class="far fa-envelope"></i></button>
  <!--button class="tablinks" onclick="switchTabs(event, 'tab3')"><span>What's all this hassle?</span><i class="fas fa-mobile-alt"></i></button-->
</div>
<div id="tab1" class="down-enter-active tabcontent code-formatted">
  <code>
    <pre>
      <red><white>&lt;</white>form<green> action<quot>=""</quot> method<quot>="post"</quot><white>&gt;</white></green></red>
        <red><white>&lt;</white>fieldset<white>&gt;</white></red>
           <red><white>&lt;</white>div<white>&gt;</white></red>
              <red><white>&lt;</white>label<white>&gt;</white><bl>Name</bl><white>&lt;</white>/label<white>&gt;</white></red>
                <red><white>&lt;</white>div<white>&gt;</white></red>
                    <red><white>&lt;</white>input <green>id<quot>="namefield"</quot> type<quot>="text"</quot> name<quot>="name"</quot> placeholder<quot>=""</quot> value<quot>="<input id="c-name" type="text" v-model="vName">"</quot> required<white>&gt;</white></green></red>
                <red><white>&lt;</white>/div<white>&gt;</white></red>    
          <red><white>&lt;</white>/div<white>&gt;</white></red>
          <red><white>&lt;</white>div<white>&gt;</white></red>
              <red><white>&lt;</white>label<white>&gt;</white><bl>Email</bl><white>&lt;</white>/label<white>&gt;</white></red>
              <red><white>&lt;</white>div<white>&gt;</white></red>
                <red><white>&lt;</white>input <green>type<quot>="email"</quot> name<quot>="email"</quot> id<quot>="email"</quot>  placeholder<quot>="example@mail.com"</quot> value<quot>="<input id="c-email" type="email" v-model="vEmail">"</quot> required<white>&gt;</white></green></red>
              <red><white>&lt;</white>/div<white>&gt;</white></red>                  
          <red><white>&lt;</white>/div<white>&gt;</white></red>
          <red><white>&lt;</white>div<white>&gt;</white></red>
              <red><white>&lt;</white>label<white>&gt;</white><bl>Subject</bl><white>&lt;</white>/label<white>&gt;</white></red>
                <red><white>&lt;</white>div<white>&gt;</white></red>
                    <red><white>&lt;</white>input <green>id<quot>="edu"</quot> type<quot>="text"</quot> name<quot>="subject"</quot> placeholder<quot>=""</quot>  value<quot>="<input id="c-subject" type="text" v-model="vSubject">"</quot> required<white>&gt;</white></green></red>
                <red><white>&lt;</white>/div<white>&gt;</white></red>                    
          <red><white>&lt;</white>/div<white>&gt;</white></red>
          <red><white>&lt;</white>div<white>&gt;</white></red>
              <red><white>&lt;</white>label<white>&gt;</white><bl>Message</bl><white>&lt;</white>/label<white>&gt;</white></red>
                <red><white>&lt;</white>div<white>&gt;</white></red>
                    <red><white>&lt;</white>textarea <green>id<quot>="q"</quot> placeholder<quot>="Type your message here"</quot> name<quot>="message"</quot> required<white>&gt;</white><textarea id="c-message" v-model="vMessage" ></textarea><white>&lt;</white>/textarea<white>&gt;</white></green></red>
                <red><white>&lt;</white>/div<white>&gt;</white></red>
          <red><white>&lt;</white>/div<white>&gt;</white></red>
        <red><white>&lt;</white>/fieldset<white>&gt;</white></red>  
        <red><white>&lt;</white>div<white>&gt;</white></red>
            <red><white>&lt;</white>button <green>type<quot>="submit"</quot> id<quot>="submit"</quot><white>&gt;</white><bl>Submit</bl><white>&lt;</white>/button<white>&gt;</white></green></red>
        <red><white>&lt;</white>/div<white>&gt;</white></red>
      <red><white>&lt;</white>/form<white>&gt;</white></red>
    </pre>
  </code>
  <div class="run-code">
    <button onclick="$('#submit').click()">
      <span id="faplay"><i class="fas fa-play"></i></span>
      <span id="faspinner" style="display: none;"><i class="fas fa-spinner fa-pulse"></i></span>
    </button>
  </div>
</div>

<div id="tab2" class="down-enter-active tabcontent active contact-form">
      <form id="contact-form-id" name="submit-to-google-sheet" action=" " method="post">
        <fieldset>
           <div class="field">
              <label class="label">Name</label>
                <div class="control">
                    <input class="input" id="namefield" type="text" name="Name" placeholder="Full Name" :value="vName">
                </div>                    
         </div>
         <div class="field">
              <label class="label">Email</label>
              <div class="control">
                <input type="text" name="Email" id="email" class="input" placeholder="example@mail.com" :value="vEmail">
              </div>                    
            </div>
        <div class="field">
              <label class="label">Subject</label>
                <div class="control">
                    <input class="input" id="subject" type="text" name="Subject" placeholder="I want to ask about" :value="vSubject">
                </div>                    
         </div>
         <div class="field">
              <label class="label">Message</label>
                <div class="control">
                    <textarea id="message" class="textarea" placeholder="Type your message here" name="Message">{{ vMessage }}</textarea>
                </div>
          </div>
        </fieldset>
        <br>
        <div class="field">
          <div class="control">
            <button class="submit-button" type="submit" id="submit">Submit</button>
          </div>
        </div>
      </form>
</div>
<!--div id="tab3" class="tabcontent">
  <h3></h3>
  <p>Tokyo is the capital of Japan.</p>
</div-->
</div>
<div class="footer-main">
  <div class="footer-bottom">
    <span class="copyright">Made with ♡ in India. Abhishek Munjal © 2020</span>
  </div>
</div>
</section>
<div class="scroll-down-container">
  <a href="#sec2" id="next">
    <div class="container-chev">
      <div class="chevron"></div>
      <div class="chevron"></div>
      <div class="chevron"></div>
    </div>
  </a>
</div>


</div>


</body>
<script type="text/javascript" src="static/js/jquery-1.11.3.min.js"> </script>
<script type="text/javascript">

const scriptURL = 'https://script.google.com/macros/s/AKfycbxC-MN4SQbojvLpR9wwYyzN2susGtYFtqs2P1PsIv_FLx_zT5U/exec'
const form = document.forms['submit-to-google-sheet']

function validateForm(){
  var mailformat = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;

  if($('#namefield').val() == ''){
    return alert('Enter your name please');
  }
  if($('#email').val() == ''){
    return alert('Enter your email');
  }
  if(!mailformat.test($('#email').val())){
      alert("Please enter a valid email");
  }

  if($('#subject').val() == ''){
    return alert('What do you want to talk about?');
  }
  if($('#message').val() == ''){
    return alert('Enter a message');
  }
  return true;
}

function resetForm(){
  $("form")[0].reset();
  $("fieldset").removeAttr("disabled");
  $("#submit").text("Submit");
  window.location.href = window.location.href;
}

$(function()
  {
    $("form").submit(function(event)
        {
          event.preventDefault();
          if (validateForm()){
          $("#submit").text("Wait");
          $("#faspinner").show();
          $("#faplay").hide();
          formdata = new FormData();
          formdata.append('Name',$('#namefield').val());
          formdata.append('Email',$('#email').val());
          formdata.append('Subject',$('#subject').val());
          formdata.append('Message',$('#message').val());
          fetch(scriptURL, { method: 'POST', body: formdata})
            .then(response => {
              console.log('Success!', response);
              $('#c-name').val('');
              $('#c-email').val('');
              $('#c-subject').val('');
              $('#c-message').val('');
              $("#faspinner").hide();
              $("#faplay").show();

              $("#submit").text("Success");
              $("fieldset").attr("disabled","disabled");  
              setTimeout(resetForm, 2000);
            })
            .catch(error => {
              console.error('Error!', error.message)
              $("#submit").text("Error");
            })
        }
      }
      )
  });
</script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
<!--<script src="https://cdn.jsdelivr.net/npm/vue-agile@0.3.7/dist/vue-agile.min.js"></script>
<script src="https://unpkg.com/vue-agile"></script>
<script src="https://unpkg.com/vue-typer/dist/vue-typer.min.js"></script>-->
<script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script> 
<script src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
<script type="text/javascript" src="static/js/myown.js" ></script>
</html>
