body { background:white; margin:0px;}

.resume{background:url('images/bg.jpg');background-attachment:fixed;background-size:contain;width:100vw;}

.class-projects{font-weight:200; color:black; font-family:'Helvetica',cursive; font-size:0.8em;}

h3{color:blue;}
.margin-below{margin-bottom:70px;}

.resume-inside{ background:white; margin-right:5%;
margin-left:5%; margin-top:10%; margin-bottom:10%px;
border-top:solid #C46561 9px; border-bottom:solid #C46561 9px;
contain:content;
}
.hand-img{height:50px;}

.ch2{font-family:'Itim',cursive;}

.blacklink{color:black; text-decoration:none;}
.blacklink:hover{text-decoration:underline;}

.content
{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
}

.content h1{
color:white;
font-family:'Satisfy',cursive;
text-align:center;
}

.content h4{
text-align:center;
}

.myphoto 
{
background-image:-webkit-linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('images/IMG_5011.JPG');
background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('images/IMG_5011.JPG');
height:100vh;
width:100vw;
background-size:cover;
background-attachment:fixed;
background-position:center;
margin-bottom:70px;
position:relative;
}

.education{
background-color:#f4f4f4;
}

.myphoto_1{
background-image:url('images/ME.jpg');
position:absolute;
top:20%;
left:2%;
height:150px;
width:150px;
border-radius:50%;
border:2px solid #2DBFFF;
background-size:cover;
background-position:center;
transform: translate(0,-50%) rotate(-35deg);
}

.abhishek{
position:absolute;
top:60%;
left:2%;
}

.abhishek h2{
margin:0;
padding:0;
font-size:400%;
font-family:'Satisfy',cursive;
color:#fff;
}
.abhishek p{
font-family:'Lato',cursive;
font-style:italic;
font-size:200%;
color:#2DBFFF;
}

.fa-hand-o-right
{
color:#fff;
opacity:0;
vertical-align:middle;
transition:opacity 0.2s;
}
.flw-btn:hover > .fa-hand-o-right{
opacity:1;
}

.flw-btn{
position:absolute;
top:10%;
right:5%;
}
.flw-btn a{
font-size:125%;
font-family:'Itim',cursive;
}

.flw-btn a:link,
.flw-btn a:visited{
display:inline-block;
padding:5px 22px;
font-weight:300;
color:#2DBFFF;
border:1px solid #2DBFFF;
border-radius:200px;
text-decoration:none;
}

.flw-btn a:hover,
.flw-btn a:active{
color:#fff;
background-color:#2DBFFF;
}

.fa-instagram:hover{color:#8a3ab9;}
.fa-github:hover{}
.fa-google-plus:hover{color:#dd4b39;}
.fa-user:hover{color:#2DBFFF;}
.fa-linkedin:hover{color:#007bb5;}
.fa-picture-o:hover{color:#e67e22;}

section
{
text-align:center;
margin-bottom:12px;
}

section h1{
font-family:'Satisfy',cursive;
text-align:center;
          }
section h1:after{
display:block;
height:2px;
background-color:#2DBFFF;
content:" ";
width:100px;
margin:0 auto;
margin-top:20px;
}

footer{text-align:center; background:#111; padding:15px;}
footer h1{color:white; font-family:'Itim',cursive;}
footer address{color:white;}
.fa-2x{padding:2px;}
.social-icons{padding:0px;}
.social-icons li{display:inline-block; padding:none; list-style:none;}
.social-icons li a{color:white; text-decoration:none;}
.lt{margin-top:10px;}
.lt span{color:white; font-size:16px;}

.link a{color:black; text-decoration:none;}
.link li{list-style:none;}
.link{display:inline; font-size:30px;}

p{word-spacing:3px; font-size:18px;}

@media only screen and (max-width: 352px)
{

.abhishek h2{font-size:350%;}
.abhishek p{font-size:150%;}

.flw-btn a{font-size:100%;}

.content h1{
font-size:1.5em;
}

.content h4{
font-size:1em;
}

.hand-img{height:20px;}
}


}
@media only screen and (min-width: 540px) and (max-width:700px)
{

.hand-img{height:40px;}

}

@media only screen and (min-width: 460px) and (max-width: 540px)
{
.hand-img{height:40px;}

}

@media only screen and (min-width: 400px) and (max-width: 460px)
{
.hand-img{height:30px;}

.content h1{
font-size:1.5em;
}

.content h4{
font-size:1em;
}


}



@media only screen and (min-width: 350px) and (max-width: 400px)
{
.content h1{
font-size:1.5em;
}

.content h4{
font-size:1em;
}

.hand-img{height:20px;}
}


@media only screen and (min-height:1000px)
{
.abhishek h2{font-size:550%;}
.abhishek p{font-size:325%;}

.myphoto_1{ height:275px; width:275px;}
.flw-btn a{font-size:225%;}
.fa-hand-o-right{font-size:225%;}

}
